[Unit]
Description=Motion Detection Service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/RaspberryPiSurveillance/
ExecStart=/usr/bin/python3 /home/pi/RaspberryPiSurveillance/RaspberryPiSurveillance.py
ExecStop=/usr/bin/python3 /home/pi/RaspberryPiSurveillance/Cleanup.py

Restart=on-failure

[Install]
WantedBy=multi-user.target
